{% extends "base.html" %} 
{% block head %}
<link rel="stylesheet" href="../static/form.css">
{% endblock%}
{% block body %}
<div class="container">
    <h2 class="title">Login</h2>
    <form method="POST" enctype="multipart/form-data">
        {% for field in form %}
        <div class="form-group">
            {{ field }}
            {% if field.widget.input_type != 'hidden' %}
            {{ field.label }}
            {% endif %}
            {% for error in field.errors %}
            <p style="padding: 15px;">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</div>
{% endblock %}